[defaults]
inventory = inventory.ini
#default on ubuntu 22.04 is 3.10 version https://ubuntu.com/developers/docs/reference/availability/python/
interpreter_python = /usr/bin/python3.10
roles_path = roles
host_key_checking = True